// Makes element invisible, but still accessible
@mixin is-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

// Turns off the element-invisible effect.
@mixin is-visible {
  position: static;
  width: auto;
  height: auto;
  overflow: auto;
  clip: auto;
}
