.c-form {
  &--login {
    border: hotpink solid 2px;
    max-width: 400px;
  }
  &__row {
    margin-bottom: 1rem;
    display: flex;
  }
  &__item {
    width: 50%;
    &:nth-child(2) {
      margin-left: 1rem;
    }
  }
}
