.transition-bg {
  transition-property: background;
}

.transition-height {
  transition-property: height;
}

.transition-opacity {
  transition-property: opacity;
}

.transition-shadow {
  transition-property: box-shadow;
}

.transition-fastest {
  transition-duration: 50ms;
}

.transition-faster {
  transition-duration: 100ms;
}

.transition-fast {
  transition-duration: 150ms;
}

.transition-medium {
  transition-duration: 200ms;
}

.transition-slow {
  transition-duration: 250ms;
}

.transition-slower {
  transition-duration: 300ms;
}

.transition-slowest {
  transition-duration: 500ms;
}

.ease {
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.ease-in {
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.linear {
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
}
