@mixin input {
  display: block;
  width: 100%;
  padding: 0.75em;
  border: 1px solid #ccc;
  &::placholder {
    color: red;
  }
  &:focus {
    border-color: blue;
  }
}

[type='text'],
[type='email'],
[type='password'] {
  @include input;
}
