body {
	font-family: 'Open Sans';
	font-size: 16px;
	color: #333;
	background-color: #FFF;
  line-height: 1.735;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
}

body,button,html,input,textarea {
  -webkit-font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
	line-height: 1.2;
}

h1, .h1 {
	font-size: 5.06em;
}

h2, .h2 {
	font-size: 3.33em;
}

h3, .h3 {
	font-size: 2.25em;
}

h4, .h4 {
	font-size: 1.5em;
}

h5, .h5 {
	font-size: 1.06em;
}

h6, .h6 {
	font-size: 1em;
}

p {
	margin-bottom: 1.5em;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

a {
	color: #790cf4;
}